/*height de iframe de l'éditeur de texte pour la page de moderateur question.php*/
@media screen and (min-width:1283px){
  #editor{
    height: 486px;
  }
}
@media screen and (min-width: 478px) and (max-width: 1283px){
  #editor{
    height: 496px;
  }
}
@media screen and (min-width: 397px) and (max-width: 477px){
  #editor{
    height: 532px;
  }
}
@media screen and (max-width: 396px){
  #editor{
    height: 568px;
  }
}
